template(name="deleteConfirmationModalBody")
  .confirmation
    i.fa.fa-trash-o(aria-hidden="true")
    p Are you sure you want to delete this #{objNameToDelete}?
    p=displayName
    .main-action
      button.confirm-deletion.confirm.btn.btn-danger.btn-wide(type="button") Delete #{objNameToDelete}
    .other-actions
      button.cancel.btn.btn-default.btn-sm(type="button" data-dismiss="modal") Cancel
