.curator-heading
  color $primary
  font-weight 400
  margin 30px 0 0
  font-size 32px
  line-height 0.5
  +above(4)
    padding-left 40px

.curator-inbox-header
  display flex
  align-items center
  width 100%
  min-height $curator-pane-head-height
  max-height $curator-pane-head-height
  padding 0 $page-padding
  border-bottom 2px solid darken($border-primary, 10%)
  +below($break-point--curator-inbox)
    min-height $mobile-header-height
  +above($break-point--curator-inbox)
    border-right 3px solid darken($border-primary, 10%)

  &.pane-head-l
    padding-right 1em
    +below($break-point--curator-inbox)
      transition transform $pane-switch-speed ease-in-out
      transform translate(0, 0)
      &:not(.on-canvas)
        transform translate(-100%, 0)
    +above($break-point--curator-inbox)
      width 35%
    +above($break-point--BSVE)
      width 25%

  h1
  h2
    display flex
    align-items center
    flex 1 1 50%
    color $primary
    margin 0
    font-size 1.75em
    font-weight 600
    text-transform uppercase
    padding-right .5em
    &
    span
      overflow hidden
      text-overflow ellipsis
      white-space nowrap
    i
      font-size 1.3em
    i
    span
      vertical-align middle
    span
      margin-left .2em
      font-size .9em
      +above(5)
        font-size 1em
  .controls
    margin-left 3em
    +above($break-point--curator-inbox)
      margin-left 1.5em
      margin-right 1.35em

  .select-feed
    font-size 150%
    margin-left .5em

.curator-inbox-header--back-to-list
  z-index $top-layer

.curator-inbox-sources
  z-index 101
  .curator-inbox-header
  .curator-inbox-section-head
    padding-left $page-padding
    &:hover
    &:focus
      i
        transform scale(1.1)
        transition transform 0.1s ease-in-out
    &:focus
      noBootstrapFocus()
      background $focus-secondary
    &:active
      background darken($header-BG, 3%)

.curator-inbox-section-head
.curator-events-header
  display flex
  align-items center
  color $primary
  border-top 1px solid darken($border-primary-light, 5%)
  border-bottom 1px solid darken($border-primary-light, 5%)
  &:hover
  &:focus
    border-color $border-primary
  &:focus
    noBootstrapFocus()
    background $focus-secondary

.curator-inbox-section-head
  justify-content space-around
  min-height $curator-pane-head-height
  font-size 1em
  padding .5em 1em
  cursor pointer
  &:hover
    background lighten($header-BG, 20%)
    .toggle
      color $header-link-color
  &:first-of-type
    border-top 0
  &:last-of-type
    border-bottom-width 2px
  .toggle
    margin-left auto
    color darken($border-primary, 20%)
  .date
    font-size 1em
    font-weight 600
  .count
    font-size .9em
    margin-left 1em
    padding-left 1em
    border-left 1px solid $border-primary

.curator-source-details--main-header
  position relative
  background none
  padding-left 1.5em
  border-right 0
  padding-right 2em
  overflow hidden
  align-items center
  +below($break-point--curator-inbox)
    flex-direction column
    min-height $mobile-header-height
    max-height none
    padding-top 0
    padding-bottom 0
  &.notifying
    padding 0
    flex-direction row
  &.reviewed
    h2
    a
      color darken($positive, 40%)
  h2
    flex 1
    display flex
    align-items center
    z-index 1
    margin-right 1em
    text-transform uppercase
    font-size 1.4em
    +above(3)
      font-size 1.5em
    +above($break-point--curator-inbox)
      max-width 100%
      min-width 0
      margin-bottom 0
      margin-left -21px
    &:not(.linked)
      margin-left 0
    &.linked
      &::before
        margin-top 2px
        padding 1em .4em .9em .5em
        display none
        vertical-align middle
        content '\f08e' // fa-external-link
        opacity 0
        font-size .8em
        font(FontAwesome)
        line-height 0
        font-weight normal
        +above($break-point--curator-inbox)
          display inline-block
      &:hover
        color $warning
        &::before
          opacity 1
          background white
          color $highlight
    a
      vertical-align middle
      color $primary
      +above($break-point--curator-inbox)
        white-space nowrap
        text-align left
        text-overflow ellipsis
        line-height 1.15em
        overflow hidden
      &:hover
      &:focus
        color $highlight

  &.reviewed
    h2
      color darken($positive, 35%)
  .inbox-notification
    z-index 110
    flex 1 1 100%
    background desaturate(lighten($positive, 20%), 10%)
    display flex
    align-items center
    justify-content center
    height 49px
    overflow hidden
    margin-left -5.5em
    margin-right -2em
    p
      margin 0
      color $primary-dark
      font-size 1.2em
      font-weight 300
      text-transform uppercase
      letter-spacing .03em
      margin-left 1em
    i
    .confirmation
      color white
    .confirmation
      font-size 6em
    .fa-spin
      color alpha($primary, 30%)
      margin-left .5em
      font-size 1.5em
    .checks
      position relative
  .transition
    position absolute
    top 50%
    left 50%
    transform translate(-50%, -50%)
    transform-origin center
    height 10px
    width 10px
    background white
    z-index 120
    transition .3s ease-in-out
    transition-delay .1s
    border-radius 50%
    opacity 0
    &.active
      transition-delay .9s
      opacity 1
      transform scale(150)
      +above(2000px)
        transform scale(250)
      +above(4000px)
        transform scale(500)

.curator-source-details--header
.curator-source-details--sub-header
  display flex
  align-items center
  border-bottom 2px solid darken($border-primary-light, 5%)
  font-size 14px
  font-weight 600
  color $primary-dark
  padding .5em $page-padding
  text-transform uppercase
  +between(2, 3)
    border-top 1px solid darken($border-primary-light, 5%)
  h2
    font-size 1.25em
  h3
    font-size 1em
    min-width 15%
    margin-right 2em
    font-weight 600
    letter-spacing .02em
  .count
    color darken($border-primary, 20%)
    font-weight normal
  i
    font-size 1.5em
    vertical-align middle
  a
    color $header-link-color
    margin 0 5px
    &:last-of-type
      margin-right 0
    &[class^='delete']
      &:hover
        color $delete

.curator-source-details--header
  min-height $curator-pane-head-height
  background $border-primary-light

.curator-source-details--sub-header
  border-top 1px solid darken($border-primary-light, 5%)
  border-bottom-width 1px
  .input-group-addon
    display none
  &.toggleable
    cursor pointer
    &:hover
      background $header-BG
      .curator-events-collapse
        transition transform .1s ease-in-out
        transform scale(1.2)
      h4
        color $primary

.curator-source-details--header
.curator-source-details--sub-header
.curator-source-details--actions
  +at(1)
    flex-direction column
  button
    margin-right .5em
    transition .1s ease-in-out
    +at(1)
      margin 0 0 1em 0
      padding-top .75em
      padding-bottom .75em
    &.viewing
      background $secondary
      color $primary-dark
      border-color darken($secondary, 10%)
    &[disabled]
      &
      &:hover
      &:active
        background alpha(white, 50%)
        border-color alpha(darken($l-gray, 15%), 50%)
        color lighten($m-gray, 20%)
  .on-left
  .on-right
  .select
    margin-left auto
    +at(1)
      margin 0 0 1em 0
  .on-left
    margin-right auto

.curator-inbox--add-event-container
  justify-content center
  border-top 1px solid $border-primary-light
  border-bottom 1px solid $border-primary-light
  background lighten($border-primary-light, 80%)
  button
    margin-left 1em
  .select2-container
    max-width 50%

.curator-source-details--incidents
  display flex
  flex-direction column
  &:not(:first-of-type)
    .curator-source-details--sub-header
      border-top-width 1px
  &.accepted
    .curator-source-details--sub-header
      background alpha(desaturate($positive, 10%), 8%)
      border-top-color darken(@background, 35%)
      border-bottom-color darken(@background, 35%)
      h3
        color darken($positive, 40%)
  &.rejected
    .curator-source-details--sub-header
      background alpha(desaturate($danger, 10%), 6%)
      border-top-color darken(@background, 35%)
      border-bottom-color darken(@background, 35%)
      h3
        color darken($danger, 20%)
  +above($break-point--BSVE)
    border 0
  .curator-source-details--sub-header
    flex-shrink 0
    border-bottom-width 1px
  .curator-source-details--actions
    flex 1

.curator-inbox--feed-selector-wrapper
  display flex
  position relative
  padding 0
  height $curator-pane-head-height
  &::after
    content '\f063'
    icon()
    position absolute
    right 15px
    top 50%
    transform translate(0, -50%)
    transition transform .1s ease-in-out
    font-size 1.5em
    color $header-link-color
    pointer-events none

  &:hover
    background darken($border-primary-light, 5%)
    &::after
      color $primary
      transform scale(1.25) translate(0, -35%)
  select
    height $curator-pane-head-height
    font-weight 600
    font-size 1.25em
    color $primary
    padding 0 0 0 $page-padding
    background none
    background-image none
    -webkit-appearance none
    -moz-appearance none
    appearance none
    border 0
    text-transform uppercase
