template(name="associatedEventModal")
  .modal.modal-skinny.fade(role="dialog")
    .modal-dialog
      .modal-content
        .modal-header
          .modal-header--title
            h4 Associated Events
          +modalCloseButton

        .modal-body
          table.associated-events
            each associatedEvents
              tr
                td
                  a(href="{{pathFor route='curated-event' _id=_id}}")=eventName
                td.controls
                  a.btn.btn-default.remove Remove


        .modal-footer
          button.btn.btn-default(type="button" data-dismiss="modal") Close
