template(name="curatorUserStatus")
  if hasOnlineUsers
    i.curator-viewing-status.fa.fa-user-circle(
      title="Currently there are other curators viewing this document"
      data-toggle="tooltip")
