.event--basic-info
  margin 2em 0 0 0
  padding-top 2em
  +above(4)
    padding-right 0

.event--detailed-info
  .no-results
    min-height 300px
    display flex
    flex-direction column
    align-items center
    justify-content center

.fact-sheet-wrap
  padding 20px 0 0 0
  background $secondary-light
  padding-bottom 20px

.event--details
  position relative
  .event-name-wrap
    display flex
    align-items flex-start
    margin-bottom .25em
  .edit-event-details
    margin-left 10px
    cursor pointer
    font-size 1.25em
    color $m-gray
    &:hover
      color $primary

  .disease-name
    span
      font-size 1.5em
      color $primary
      &.not-available
        color $m-gray
        font-size 1em

  .date-range
    margin-bottom 0

  .date-range
  .locations
    color $primary
    font-size 1.2em

  .edit-event
    position absolute
    top 1.5em
    right $page-padding

  .event--summary
    position relative
    line-height 1.75em
    span
      white-space pre-wrap

  p
    width 100%
    max-width 800px
    +above(3)
      width 65%

  .event--criteria
    margin 1em 0
    padding 1em 0
    border-top 1px solid $border-primary-light
    border-bottom 1px solid $border-primary-light
    ul
      padding 0 0 0 30px
      margin 0
    li
      &:not(:last-of-type)
        margin-bottom 3px
    .criteria
      &:not(:last-of-type)
        margin-bottom 1em

  .event--dates
    display flex
    flex-direction row
    flex-wrap wrap
    p
      width auto
      margin-right 1em
      &:not(:last-of-type)
        padding-right 1em
        border-right 1px solid $border-primary

.event--summary
.disease-name
  &.not-available
    color $m-gray
    margin-top -10px
    &:first-of-type
      margin-top 0
  .fa
    font-size 95%
