@import 'eventFiltration.import'

.event--content-wrapper
  border-top 1px solid $event-nav-border
  flex 1

.event--content-container
  flex 1
  .no-results
    font-size 135%
    position absolute
    top 10%
    left 50%
    transform translate(-50%, 0)
    color $primary
    &.top-layer
      z-index $top-layer - 1
  .veil
    &.top-layer
      z-index $top-layer - 2
  .no-results--incidents
    &::before
      content '\69'
      font-family 'icons'

.event--content
  position relative
  section
    padding 1em

.event--incidents
  flex-direction column
  .flex-col
    border-right-width 0
  +above($break-point--large-width)
    flex-direction row
    > div
      min-width 50%
    .flex-col
      border-right-width 1px
