$max-event-details-width = $max-ui-width+300

@import 'eventNav.import'
@import 'eventContent.import'
@import 'eventDetails.import'
@import 'eventTables.import'
@import 'sources.import'
@import 'metadata.import'
@import 'metadata.import'
@import 'locations.import'
@import 'incidentDetails.import'
@import 'resolvedIncidents.import'
@import 'eventInbox.import'

.event
  position relative
  display flex
  flex-direction column
  flex 1
  h1
    margin 0
    font-size 1.75em
    font-weight 600
    color $primary
    padding .5em 0 .5em $page-padding

  .reactive-table-options
    display none
  .loading
    z-index $top-layer + 1
  .veil
    z-index $top-layer
  .wrapper
    position relative

.disease
  h3
    display inline-block
    margin 5px 5px 10px 0

.ref-link
  color $primary
  span
    padding-right 5px
  &:hover
    color $secondary-dark

section.event--references
  margin 0
  padding 0
  .tab-form
    flex-direction row
  .heading
    margin 0

.documents
  .title
    width 50%

.info-section
  padding 16px
  border-bottom 1px solid #c6d1dd
  color #808080
