@import 'event.import'

#proMedIFrame
  width 100%
  height 600px

.events
  min-width 100%
  h1
    margin 0
    padding 0
    align-self stretch
    display flex
    align-items stretch
    justify-content center
    margin-left 10px
    .text
      text-indent -9999px
      display block
    .icon
      display flex
      align-items center
      justify-content flex-start
      margin-right 20px
      i
        font-size 1.5em
        color $primary
  .featured-table
    position relative
    background white
    .lastModifiedDate
    .lastIncidentDate
      font-size .9em
  .loading
    position absolute
    left 50%
    top 3em
    transform translate(-50%, 0)
    z-index -1
  .page-heading
    min-height initial
    padding 0
    background lighten($border-primary-light, 60%)
    flex-direction column
    +above(3)
      flex-direction row
    +above(3)
      background white
      padding-left 15px
      padding-right 15px
  .page-options
    margin-bottom 1em
    margin-left initial
    +below(2)
      .check-button
        label
          padding .65em 2em
    +above(3)
      margin-left auto
      margin-bottom 0
    .btn
      text-transform capitalize
    .page-options--search
      +between(2, 3)
        min-width 200px
        max-width 200px
        width 200px
  .tabs
    margin-top 0
    justify-content flex-start
    margin 0
    align-self stretch
    border-bottom 2px solid $border-primary
    margin-bottom 1em
    +above(3)
      max-width 50%
      border 0
      margin-bottom 0
    +above(4)
      max-width 35%
  .tab
    display flex
    align-items stretch
    &:first-of-type
      margin-left 0
    a
      display flex
      flex 1 1 auto
      border-radius 0
      border-top 0
      align-self stretch
      align-items center
      justify-content center
      color lighten($primary, 10%)
      &:hover
        background $border-primary-light
      &:active
        border-color $border-primary
        background $seconary
    &.active
      a
        &
        &:hover
          background $border-primary-light
          border-color darken($border-primary, 10%)
          color $primary
          font-weight bold

#user-events-table
  +below(2)
    padding 0
    margin-right -15px
    margin-left -15px
    max-width calc(100%  +30px)
    width calc(100%  +30px)
    thead
    tbody
    th
    td
    tr
      +below(2)
        display block
    thead
      +below(2)
        display none
    > tbody
      > tr
        margin-bottom 1em
        > td
          border 0
          padding-left 30px
          padding-right 30px
          &:first-of-type
            font-weight 600
            border-bottom 1px solid $border-primary
            background $border-primary-light
            padding-top .5em
            padding-bottom .5em
            font-size 1.25em
          span
            &::before
              display block
              content attr(data-heading)
              font-weight 600

  &.table-striped > tbody > tr:nth-child(odd) > td
  &.table-striped > tbody > tr:nth-child(odd) > th
    +below(3)
      background none
