.event--filtration
  min-width 300px
  border-right 1px solid $border-primary

.filtration--property
  padding 1em $page-padding
  border-bottom 1px solid $border-primary
  h3
    font-size 1em

.filtration--header
  display flex
  align-items center
  min-height $pane-head-height
  background $border-primary-light
  border-bottom 1px solid $border-primary
  padding 1em $page-padding

  h2
    font-size 1.3em
    font-weight 500
