form
  label
    margin-bottom .25em
    &.secondary-label
      font-size 90%
      color $m-gray

.input-wrapper
  position relative

.input-group
  &.with-select
    position relative
    select
      appearance none
    &::after
      display block
      position absolute
      right .5em
      top 50%
      transform translate(0, -50%)
      z-index 10
      content '\f107' // fa-angle-down
      font(FontAwesome)

input
.form-control
  border-color $border-primary
  box-shadow none
  &.icon-right
    padding-right 2em
  &:focus
    noBootstrapFocus()
    border-color $primary
    background $secondary-l-light

.input-group-addon
  background $border-primary-light
  color darken($border-primary, 30%)

select
  cursor pointer

.form-group
  border-top 1px solid transparent
  border-bottom 1px solid transparent
  &:last-of-type
    border-bottom 0
  label
    margin-bottom .5em
    color $d-gray

.form-group
.check-buttons
  &:not(:last-of-type)
    margin-bottom .75em
  &:last-of-type
    margin-bottom .5em

.form-group--block
  margin-left 15px
  margin-right 15px

.form-group--full
  padding 5px 20px
  margin-bottom 10px
  +above(4)
    margin-right -20px
    margin-left -20px
  &:last-of-type
    margin-bottom 0
    padding-bottom 0

.form-groups
  margin-right -20px
  margin-left -20px
  padding-left 20px
  padding-right 20px
  border-top 1px solid transparent
  border-bottom 1px solid transparent
  .form-group
    margin-bottom .5em
    &:first-of-type
      margin-bottom 0
  .form-group--child
    &
    &:first-of-type
      margin-bottom .5em
      margin-left .75em

.form-groups--highlighted
  margin-bottom 15px
  padding-bottom 10px
  background $block-BG
  border-color $border-primary

.form-control-static
  padding-top 0
