$invalid = darken($danger, 10%)

.parsley-errors-list
  list-style-type none
  color $invalid
  margin 0 0 0 3px
  padding 0
  li
    &:first-of-type:not(:empty)
      margin-top 5px
    font-size .9em
    padding-bottom 2px

.parsley-error
  input
  input:focus
  textarea
  textarea:focus
  &:focus
  .select2 > .selection > .select2-selection
  .select2 > .selection > .select2-selection:focus
  .check-button label
  .input-group-addon
    border-color $danger
    background lighten($danger, 95%)

  .select2 > .selection > .select2-selection
  .select2 > .selection > .select2-selection:focus
    background white

  &.form-group--full
    background lighten($danger, 95%)
    border-top 1px solid lighten($danger, 75%)
    border-color lighten($danger, 75%)
    padding-top .75em
    padding-bottom .75em

  .tab-content
  &.form-group--full
    input
    textarea
      background white

  .tab-content
  .tabs .active a
  .tabs .active a:focus
    border-color lighten($danger, 75%)
    background lighten($danger, 95%)
    color darken($danger, 10%)

  label
    color $invalid

  .input-group-addon
    color darken($danger, 10%)
    background lighten($danger, 80%)

  .select2-search
    .parsley-errors-list
      display none
