.tooltip-inner
  max-width 350px
  color $tooltip-text-color
  font-weight 600
  font-size 1em

.popover
  z-index $cosmos-layer
  min-width 300px
  font-size 12px
  .quote-text
    font-style italic

.popover-content
  overflow hidden
  text-overflow ellipsis
  color $d-gray
  font-weight normal
  font-size 14px
  line-height 1.3

.close-popover
  display none
  +below(3)
    display block
    position absolute
    top -5px
    right -5px
    color $d-gray
    font-size 22px

.popover
.tooltip
.tooltip-inner
.popover-content
  +below(3)
    min-width 200px
    max-width 325px

.tooltip
  for direction in top bottom right left
    &.{direction}
      & > .tooltip-inner
        background-color $tooltip-BG-color
      & > .tooltip-arrow
        border-{direction}-color $tooltip-BG-color

.with-info-tooltip
  &::after
    content '\f05a' // fa-info-circle
    display inline-block
    icon()
    color darken($border-primary, 40%)
    margin-left .5em
  &:hover
    &::after
      color $primary
