template(name="markerPopup")
  .popup
    .popup--title
      h4= name
    ul.list-unstyled
      each locationEvents
        li
          .popup--event.container-flex.vertically-centered
            svg.popup--event--marker-color-spot
              circle(fill="rgb(#{rgbColor})" r="8" cx="8" cy="8")
            .popup--event--content
              a(href="{{pathFor 'curated-event' _id=_id}}")=eventName
              if mostRecentIncident
                .popup--incidents-text
                  span.popup--incidents-text--label Most Recent Incident:
                  div {{incidentToText mostRecentIncident}}

template(name="markerPopupMinimal")
  .popup
    .popup--title
      h4= location
    .popup--content
      p Added on {{ formatDate addedDate }}
