template(name="markerPopup")
  .map-popup
    .map-popup--title
      h4= name
    ul.list-unstyled
      each locationEvents
        li
          .map-popup--event.container-flex.vertically-centered
            svg.map-popup--event--marker-color-spot
              circle(fill="rgb(#{rgbColor})" r="8" cx="8" cy="8")
            .map-popup--event--content
              a(href="{{pathFor 'curated-event' _id=_id}}")=eventName
              if mostRecentIncident
                .map-popup--incidents-text
                  span.popup--incidents-text--label Most Recent Incident:
                  div {{incidentToText mostRecentIncident}}

template(name="markerPopupMinimal")
  .map-popup
    .map-popup--title
      h4= location
    .map-popup--content
      p Added on {{ formatDate addedDate }}
