template(name="intervalDetailsModal")
  .modal.fade.interval-details(role="dialog")
    .modal-dialog
      .modal-content
        .modal-header
          .modal-header--title
            h4 Interval Details
          +modalCloseButton
        .modal-body
          h5 {{formatDateRange interval}}
          each componentTree.children
            +componentTreeList

template(name="componentTreeList")
  with associatedObject
    ul.list-unstyled
      li
        span Location:
        | {{formatLocation location}}
      li
        span Count during interval:
        | #{value}
    if incidents
      h6 Source Incidents
      ul.interval-details--source-incidents
        each incidents
          li
            if cumulative
              | Difference between cumulative counts: #{count}
              ul
                each incident in originalIncidents
                  li
                    a.view-incident(data-id="{{incident._id}}") {{incidentToText incident}}
            else
              each incident in originalIncidents
                a.view-incident(data-id="{{incident._id}}") {{incidentToText incident}}
                if incident.sourceFeed
                  span &nbsp;(Constraining)
  if children
    h4 Subcomponents
    each children
      .incident.panel.panel-default
        .panel-body
          +componentTreeList
