template(name="locationSelect2")
  span
    select.location-select2.form-control.select2(
      id=selectId
      name="location"
      multiple=multiple
      required=required)

template(name="addLocationControl")
  .select2-results__additional-options
    button.btn.btn-default(type="button")
      | Add Unlisted Geoname
