template(name="resolvedIncidentsPlot")
  .resolved-incidents-plot
    .controls
      ul.tabs.tabs-grouped.incident-type-selector(role="group")
        li
          a.case-rate(type="button" class="{{activeMode 'caseRate'}}") Case Rate
        li
          a.death-rate(type="button" class="{{activeMode 'deathRate'}}") Death Rate
        li
          a.cases(type="button" class="{{activeMode 'cases'}}") Cumulative Cases
        li
          a.deaths(type="button" class="{{activeMode 'deaths'}}") Cumulative Deaths
      p
        | The cases in this plot were inferred from incident report data.
        | Incidents with overlapping locations and time intervals were combined
        | using an algorithm that avoids double counting their cases.
    if isLoading
      +loading small=true
    .chart
    .legend
      each labels
        label
          span=name
          i.fa.fa-circle(style="color:{{color}};")
