template(name="resolvedIncidentsPlot")
  .resolved-incidents-plot
    .controls
      .btn-group.incident-type-selector(role="group")
        button.btn.btn-default.cases(type="button" class="{{casesActive}}") Case Rate
        button.btn.btn-default.deaths(type="button" class="{{deathsActive}}") Death Rate
      p Rates are derived from incident report data
    if isLoading
      +loading small=true
    .chart
    .legend
      each labels
        label
          span=name
          i.fa.fa-circle(style="color:{{color}};")
