template(name="resolvedIncidentsPlot")
  .resolved-incidents-plot
    .container
    .btn-group.incident-type-selector(role="group")
      button.btn.btn-default.cases(type="button" class="{{casesActive}}") Cases
      button.btn.btn-default.deaths(type="button" class="{{deathsActive}}") Deaths