#addGeonameModal
  display flex
  align-items center
  .modal-dialog
    +above(2)
      min-width 40%
  .modal-content
    width 100%
  .modal-body
    padding-bottom 0
  .form-group
    margin-bottom 20px
    &:last-of-type
      margin-bottom 0
    p
      margin-top -5px
  .location-details
    align-items flex-end
    margin-bottom 20px
    > .form-group
    .location-btns
      margin-right 20px
      margin-bottom 0
    .form-group
      &:first-of-type
        margin-left 10px

#leaflet-canvas
  margin 20px -20px 0 -20px
