template(name="incidentReports")
  .container-flex.no-gutter
    .flex-col.bordered
      .tab-form.container-flex.break-2
        unless smartEvent
          +addIncidentReport
        button.open-download-csv.right-action.btn.btn-primary(type="button")
          i.fa.fa-download
          span Export
      if incidents.count
        +reactiveTable collection=incidents settings=getSettings
      else
        p.center-position No incidents are associated with this event.
    .flex-col
      .chart
        #scatterPlot-toolbar.container-flex.no-break
          .flex-col
            button#scatterPlot-toggleCumulative.btn.btn-xs.btn-default.scatterPlot-toolbar-button
              i.fa.fa-circle-o(aria-hidden="true")
              span Cumulative
          if plotZoomed
            .flex-col.on-right.items-right
              button#scatterPlot-resetZoom.btn.btn-xs.btn-default.scatterPlot-toolbar-button
                i.fa.fa-search-plus(aria-hidden="true")
                span Reset
        #scatterPlot
