template(name="eventDetails")
  section.event--details
    if event.summary
      p.event--summary
        span= event.summary
    else
      p.event--summary.not-available
        span No summary available.

    .secondary-content
      p
        | Created by
        span {{ getUserName event.createdByUserId }}
        | on
        span {{ formatDate event.creationDate }}

    .secondary-content
      p
        | Last Modified by
        span {{ getUserName event.lastModifiedByUserId }}
        | on
        span {{formatDate user.lastModifiedDate}}

    button.btn.btn-sm.btn-default.edit-event
      i.fa.fa-pencil
      | Edit Details
