template(name="eventDetails")
  section.event--details
    if event.summary
      p.event--summary
        span= event.summary
    else
      p.event--summary.not-available
        span No summary available.

    unless isUserEvent
      .secondary-content
        p This Smart Event includes all manually curated and
          | automatically extracted incidents stored in EIDR-Connect which
          | match the following properties:
        if event.locations
          h4 Containing Location(s):
          each location in event.locations
            p {{ formatLocation location }}
        if event.diseases
          h4 Disease(s):
          each event.diseases
            p=text
        if event.dateRange
          h4 Date Range:
          p {{ formatDateRange event.dateRange }}

    hr

    .secondary-content
      p
        | Created by
        span {{ getUserName event.createdByUserId }}
        | on
        span {{ formatDate event.creationDate }}

    .secondary-content
      p
        | Last Modified by
        span {{ getUserName event.lastModifiedByUserId }}
        | on
        span {{ formatDate user.lastModifiedDate }}

    button.btn.btn-sm.btn-default.edit-event
      i.fa.fa-pencil
      | Edit Details
