template(name="eventDetails")
  .container-flex
    .event--details
      if event.summary
        p.summary
          span= event.summary
      else
        p.summary.not-available
          span No summary available.
        .secondary-content
          p
            | Created by
            span {{ getUserName 'createdByUserId' }}
            | on
            span {{ formatDate event.creationDate }}

        .secondary-content
          p
            | Last Modified by
            span {{ getUserName 'lastModifiedByUserId' }}
            | on
            span {{formatDate event.lastModifiedDate}}
