template(name="eventNav")
  nav
    ul.list-unstyled
      li(class="{{checkActive 'estimated-epi-curves'}}")
        a(href="{{pathFor route='curated-event' _id=userEventId _view='estimated-epi-curves'}}")
          span
            i.fa.fa-area-chart
            span Estimated Epi Curves
      li(class="{{checkActive 'incidents'}}")
        a(href="{{pathFor route='curated-event' _id=userEventId _view='incidents'}}")
           span
             i.i-incident
             span Incidents
      li(class="{{checkActive 'affected-areas'}}")
        a(href="{{pathFor route='curated-event' _id=userEventId _view='affected-areas'}}")
          span
            i.fa.fa-globe
            span Affected Areas
      li.on-right
        ul.list-unstyled
          li(class="{{checkActive 'details'}}")
            a(href="{{pathFor route='curated-event' _id=userEventId _view='details'}}")
              span
                i.fa.fa-info-circle
                span Details
          li(class="{{checkActive 'references'}}")
            a(href="{{pathFor route='curated-event' _id=userEventId _view='references'}}")
              span
                i.fa.fa-book
                span References
